{:slides ["slides/hello.md",

          "slides/interactive-programming/ip-intro.md",
          "slides/interactive-programming/yay.md"
          "slides/interactive-programming/vic-20.md"
          "slides/interactive-programming/brooks.md",
          "slides/interactive-programming/plotter.md",
          "slides/interactive-programming/postscript.md",
          "slides/interactive-programming/plain.md",
          "slides/interactive-programming/clojure.md",
          "slides/interactive-programming/thanks.md"

          "slides/clojure-look.md"
          "slides/perlism.md"
          "slides/maps.md"
          "slides/clojure-data.md"
          "slides/clojure-what.md"
          "slides/clojure-special.md"
          "slides/clojure-frictions.md"
          "slides/stability.md"
          "slides/rich-hickey-talks.md"

          "slides/repl.md"
          "slides/calva.md"
          "slides/demo-fullstack-cljs.md"
          "slides/demo-joyride-js-repl.md"
          "slides/feedback.md"

          "slides/calva-setup.md"
          "slides/minimal-clojure-project.md"
          "slides/minimal-clojurescript.md"
          "slides/clojure-basics-data.md"
          "slides/clojure-basics-ns-vars.md"
          "slides/clojure-basics-forms.md"
          "slides/clojure-basics-functions.md"
          "slides/clojure-basics-immutable.md"
          "slides/clojure-basics-sequences.md"
          "slides/clojure-basics-atom.md"
          "slides/more-clojure-resources.md"
          "slides/fullstack-example-anatomy.md"
          ]}